/**
* Copyright (C) 2015 Mauricio Costa Pinheiro. Todos os direitos reservados.
* Ver arquivo LICENSE para os detalhes.
**/

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/frust.gif);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
