/**
* Copyright (C) 2015-2016 Mauricio Costa Pinheiro. Todos os direitos reservados.
* Ver arquivo LICENSE para os detalhes.
**/

.appstorebadge {
  max-height: 70px;
}

.appstorebadgetiny {
  max-height: 40px;
}
